@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active,
a:hover {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

hr {
	box-sizing: content-box;
	height: 0
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em
}

pre {
	white-space: pre-wrap
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 0
}

fieldset {
	border: 1px solid #fff;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button,
input {
	line-height: normal
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

p {
	font-family: Roboto
}

h1,
h2,
h3,
h4 {
	font-family: Patua One;
	text-shadow: 0 -1px 0 #91cc41
}

.shadow {
	font-family: Mr Dafoe, sans-serif;
	font-size: 6em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 -2px 0 #91cc41
}

.script {
	font-family: Patua One, sans-serif;
	color: #91cc41;
	text-align: center;
	font-size: 25px;
	position: relative;
	margin: 0 auto
}

.trick {
	background-color: #FFF;
	padding: 0 0.5em
}

.script:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 75%;
	left: 12.5%;
	top: 50%;
	border-bottom: 3px solid #000
}

.slash {
	color: #000
}

ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.social {
	position: relative;
	height: 3em;
	width: 13.5em;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 50px
}

.social li {
	background: #000;
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2.2em;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: -webkit-transform .7s;
	transition: transform .7s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em
}

.social li:hover {
	background-color: #91cc41;
	-webkit-transform: scale(1.3, 1.3) rotate(45deg);
	-ms-transform: scale(1.3, 1.3) rotate(45deg);
	transform: scale(1.3, 1.3) rotate(45deg)
}

.social a {
	color: #fffdf0;
	display: block;
	height: 4em;
	margin-top: 2px;
	margin-left: 2px;
	line-height: 4em;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 4em
}

.email {
	left: 0;
	top: 0%
}

.email svg {
	left: 0;
	margin-top: 12%
}

.twitter {
	bottom: 0;
	left: 25%
}

.twitter svg {
	bottom: 0;
	left: 25%;
	margin-top: 12.5%
}

.codepen {
	left: 50%;
	top: 0%
}

.codepen svg {
	left: 50%;
	margin-top: 12.5%
}

.codeeval {
	bottom: 0;
	left: 75%
}

.codeeval svg {
	bottom: 0;
	left: 75%;
	margin-top: 10%
}

.linked-in {
	left: 100%;
	top: 0%
}

.linked-in svg {
	left: 100%;
	margin-top: 10%
}

.hairlinet {
	border: 0;
	height: 1px;
	margin-bottom: 10px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
}

.hairlineb {
	border: 0;
	height: 1px;
	margin-top: 18px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)
}

.doubleline {
	border: 0;
	border-top: 5px solid black;
	border-bottom: 1px solid black;
	padding: 5px 0
}

span a {
	text-color: #91cc41
}

li {
	font-family: Roboto;
}

.top-bar-section ul {
	display: inline;
	height: auto !important;
	width: auto;
	background-color: #333;
}