@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}

audio,
canvas,
video {
	display: inline-block
}

[hidden] {
	display: none
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active,
a:hover {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

b,
strong {
	font-weight: bold
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

p {
	font-family: Roboto
}

h1,
h2,
h3,
h4 {
	font-family: Patua One;
	text-shadow: 0 -1px 0 #91cc41
}

.shadow {
	font-family: Mr Dafoe, sans-serif;
	font-size: 6em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 -2px 0 #91cc41
}

.script {
	font-family: Patua One, sans-serif;
	color: #91cc41;
	text-align: center;
	font-size: 25px;
	position: relative;
	margin: 0 auto
}

.trick {
	background-color: #FFF;
	padding: 0 0.5em
}

.script:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 75%;
	left: 12.5%;
	top: 50%;
	border-bottom: 3px solid #000
}

.slash {
	color: #000
}

ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.social {
	position: relative;
	height: 3em;
	width: 13.5em;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 50px
}

.social li {
	background: #000;
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2.2em;
	position: absolute;
	border-radius: 5px;
	-webkit-transition: -webkit-transform .7s;
	transition: transform .7s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em
}

.social li:hover {
	background-color: #91cc41;
	-webkit-transform: scale(1.3, 1.3) rotate(45deg);
	-ms-transform: scale(1.3, 1.3) rotate(45deg);
	transform: scale(1.3, 1.3) rotate(45deg)
}

.social a {
	color: #fffdf0;
	display: block;
	height: 4em;
	margin-top: 2px;
	margin-left: 2px;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 4em;
    font-smooth: always;
}

.motiongraphics {
	left: 0;
	top: 0%
}

.motiongraphics svg {
	left: 0;
	margin-top: 12%
}

.bannerads {
	bottom: 0;
	left: 25%
}

.bannerads svg {
	bottom: 0;
	left: 25%;
	margin-top: 12.5%
}

.codepen {
	left: 50%;
	top: 0%
}

.codepen svg {
	left: 50%;
	margin-top: 12.5%
}

.rfp {
	bottom: 0;
	left: 75%
}

.rfp svg {
	bottom: 0;
	left: 75%;
	margin-top: 10%
}

.sideprojects {
	left: 100%;
	top: 0%
}

.sideprojects svg {
	left: 100%;
	margin-top: 10%
}

.linked {
	left: 50%;
	top: 0%
}
.linked svg {
    left: 50%;
    margin-top: 12.5%;
}

.doubleline {
	border: 0;
	border-top: 5px solid black;
	border-bottom: 1px solid black;
	padding: 5px 0
}
a {
	color: #91cc41;font-smooth: always;
}

span a {
	color: #91cc41;
}
span a:hover {
	color: #000;
}

li {
	font-family: Roboto;
}

#topmenu {
    position: absolute;
    line-height: 18px; 
    font-size: 15px; 
    text-align: center; 
    padding-top:10px;
}
#topmenu:hover {
    color:#ffffff;
    position: absolute;
    line-height: 18px; 
    font-size: 15px; 
    text-align: center; 
    padding-top:10px;}