@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);
$bodyfont: Roboto;
$headerfont: Patua One;
$namefont: Mr Dafoe;
p {
	font-family: $bodyfont;
}

h1,
h2,
h3,
h4 {
	font-family: $headerfont;
	text-shadow: 0 -1px 0 #91cc41;
}

li {
	font-family: $headerfont;
}

//Name Typography in Header
.shadow {
	font-family: $namefont, sans-serif;
	font-size: 6em;
	line-height: 1;
	text-align: center;
	text-shadow: 0 -2px 0 #91cc41;
}

.script {
	font-family: Patua One, sans-serif;
	color: #91cc41;
	text-align: center;
	font-size: 25px;
	position: relative;
	margin: 0 auto;
}

.trick {
	background-color: #FFF;
	padding: 0 0.5em;
}

.script:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 75%;
	left: 12.5%;
	top: 50%;
	border-bottom: 3px solid #000;
}

.slash {
	color: #000;
} //END Name Typography in Header